.head{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-image:url("bg1.jpg");
	background-size:cover;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	padding:2%;
	/*margin:0% 5% 0% 5%;*/
}
.profile{
	width:40%;
	margin-left:30%;
	border-radius:10%;
}
.card1{
	width:40%;
}
.info h3,h4{
	color:black;
}

.info{
	width:50%;
	margin:3%;
}

body{
	margin:10px;
	background-image: url("bg2.jpg");
	/*background-color: lightblue;*/
}

.card2{
	padding: 1%;
	border: 1px solid #ddd;
	box-shadow: 0px 8px 8px -8px #000;
}

.card2 span{
	border-radius: 12px;
	font-weight:bolder;
	background: #fff;
	padding: 1%;
	margin:1%;
}
.card3{
	padding: 1%;
	border: 1px solid #ddd;
	box-shadow: 0px 8px 8px -8px #000;
}

.card4{
	padding: 1%;
	border: 1px solid #ddd;
	box-shadow: 0px 8px 8px -8px #000;
}

h1,h2,h3,h4,h5,h6 {
	color: maroon;
	font-family: Roboto;
    font-weight: 500;
    margin: 15px 0 15px 15px;    	
}
a{
	font-size:20px;
	color:green;
}
ul li{
	font-size: 20px;
	margin: 1%;
	line-height: 30px;
}

ul{
	list-style-type: circle;
}

@media only screen and (min-width: 320px) and (max-width: 480px)
{
	.head{
		display:flex;
		flex-direction: column;
		border-width:5px;
		background-color:gray;
		border-top-left-radius:30px;
		border-top-right-radius:30px;
		justify-content: center;
	}
	.card1{
	width:90%;
	}
	.info{
		width:90%;
		margin:1%;
		text-align:center;
	}
	body h1,h2,h3,h4{
		font-size:20px;
		font-weight:700;
	}
	body li{
		font-family: "Arial";
		font-size:18px;
		line-height: 25px;
		font-weight:500;
	}
	a{
		font-size:20px;
	}
}
@media only screen and (min-width: 481px) and (max-width: 768px)
{
	.head{
		display:flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		background-size:cover;
		border-top-left-radius:100px;
		border-top-right-radius:100px;
		padding:2%;
	}
	.card1{
	width:90%;
	}
	.info{
		width:90%;
		margin:1%;
		text-align:center;
	}
	body{
		background-image:none;
		background-color: #b3e6cc;
	}
	body h1,h2,h3,h4{
		font-size:20px;
		font-weight:600;
	}
	body li{
		font-size:20px;
		line-height: 30px;
		font-weight:500;
		font-family: "Sans-serif"
	}
	a{
		font-size:20px;
	}
}

